body {
	font-family: Arial
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
	border-radius: 35%
}

header, footer {
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline;
	font: 10%;
	padding: 5em;
}

/*add other effects on the link*/

article {
	width: 460px;
	float: left;
	margin: 10px;
}

footer {
	font-size: 10px;
	padding: 5px 0;
}